{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Articles</title>
        <link rel="stylesheet" href="{% static "styles.css" %}">
    </head>
    <body>
        <div class="wrapper">
            <h1><a href="{% url 'articles:list'%}"><img src="{% static "Blog-Logo.png" %}" width='150' height='150'/></a></h1>
            {% block content%}
            {% endblock %}
        </div>
    </body>
</html>